* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: azure;
}

/*.logo {*/
/*    height: 50px;*/
/*}*/

.page-header {
    /*position: fixed;*/
    /*display: flex;*/
    /*justify-content: flex-start;*/

    /*width: 100%;*/
    /*padding: 25px;*/
    /*background: #1d88e5;*/
}

.article {
    /*display: block;*/
}