* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
}

body {
    color: #5d6063;
}

h3, summary, p, img {
    padding-bottom: 10px;
}

summary {
    border: 10px;
    border-radius: 5px;
    background-color: cornflowerblue;
    color: #EAEDF0;
    padding: 10px;
    margin: 10px;
}

summary:hover {
    color: #FFFFFF;
    background-color: dodgerblue;
}

details {
    border: 2px solid #1d88e5;
    padding: 5px;
    margin-bottom: 15px;
}

.article-header {
    margin-top: 50px;
    border-bottom: 2px solid #EAEDF0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.article-header > h1, p {
    width: 700px;
}

.content {
    display: block;
    border-bottom: 2px solid #EAEDF0;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.content-wrapper {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.linre-container {
    width: 700px;
    display: flex;
}

.linre-image {
    max-width: 50%;
    display: flex;
    flex: 1 1 auto;
}

/*.emo-image {*/
/*    display: flex;*/
/*}*/

img {
    max-width: 100%;
}